@model Product

<h1 class="h3">Edit Product</h1>
<hr>
<form asp-controller="Admin" asp-action="ProductEdit" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <div class="text-danger" asp-validation-summary="All"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">

            <input type="hidden" name="ProductId" value="@Model.ProductId">
            <div class="form-group row" style="margin-top: 20px;">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row" style="margin-top: 20px;">
                <label asp-for="Image" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <img src="@Model.Image" width="80px">
                    <input class="form-control" asp-for="Image" style="margin-top: 14px;">

                </div>
            </div>
            
            <div class="form-group row" style="margin-top: 20px;">
                <label asp-for="CategoryId" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, nameof(Category.CategoryId), nameof(Category.Name)))">
                        <option>Please select one</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row" style="margin-top: 20px;">

                <div class="form-group row" style="margin-top: 20px;">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary">Save Product</button>
                    </div>
                </div>
            </div>
        </div>
</form>
